# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [2]:
4400 // 20

220

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

In [11]:
print(4400 // 30)
round(((4400 / 30) - (4400 // 30)) * 30)

146

20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [14]:
(80+55+75+80) / 4

72.5

72.5

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [17]:
def mean(*reg):
    result1 = 0
    result2 = 0
    for i in reg:
        result1 = result1 + i
        result2 = len(reg)
    return (result1/result2)
print(mean(80,55,75,80))

72.5

In [4]:
korean = input("한국어 점수를 입력해주세요!!!")
~~~

한국어 점수를 입력해주세요!!!1
수학 점수를 입력해주세요!!!!2
영어 점수 입력해주세요!!!!3
사회 점수 입력해주세요1!!4
4과목 평균 점수 : 2.5

In [3]:
def mean(*reg):
    result1 = 0
    result2 = 0
    for i in reg:
        result1 = result1 + i
        result2 = len(reg)
    return (result1/result2)

korean = int(input("한국어 점수를 입력해주세요!!!"))
math = int(input("수학 점수를 입력해주세요!!!"))
english = int(input("영어 점수를 입력해주세요!!!"))
society = int(input("사회 점수를 입력해주세요!!!"))
a = "4과목 평균점수 : "

print(a + str(mean(korean,math,english,society)))

한국어 점수를 입력해주세요!!!15
수학 점수를 입력해주세요!!!12
영어 점수를 입력해주세요!!!11
사회 점수를 입력해주세요!!!10
4과목 평균점수 : 12.0

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [8]:
def isEven(no):
    if (no%2) == 0 :
        return ("True")
    else :
        return ("False")

number = int(input("홀짝을 판단하고자 하는 수를 입력하세요!!"))
print(isEven(number))

홀짝을 판단하고자 하는 수를 입력하세요!!35
False

홀짝을 판단하고자 하는 수를 입력하세요!!!34
True

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [15]:
a = [1,2,3,4,5]
a.append("Hi")
a.append("Monday")
a.insert(2, "Hello")
print(a)

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [17]:
(10 // 2) == (210 // 3)

False

False

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [18]:
(12345 % 4) == (54321 % 2)

True

True

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [23]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
print(a)
print(a[3][3][1][1])

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [50]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
print(a[0:len(a)]) #1
print(a[0:5]) #2
print(a[3:len(a)]) #3
print(a[1:6]) #4
print(a[0:(len(a)-1):2]) #5
print(a[0:10:3])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']
['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
['b', 'c', 'd', 'e', 'f']
['a', 'c', 'e', 'g', 'i', 'k', 2, 4]
['a', 'd', 'g', 'j']

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [58]:
a = {"A":90, "B":80,"C":70 }
a["B"]

80

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [97]:
 a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
print(min(a.values()))
print(max(a.values()))

10
85

10
85

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [110]:
for name, score in a.items():
    if score == max(a.values()):
        print ("최고점 : " + name)
    elif score == min(a.values()):
        print ("최저점 : " + name)
    else:
        pass

최저점 : C
최고점 : E

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [127]:
list1 = list(range(1,21))
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [135]:
for i in list1:
    print("hello_" + str(i))

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

In [3]:
# 1)
a = ["one","two","three","four"]
b = []
num = list(range(1,5))
for i in num:
     b.append(a[i-1] + str(i))
    
print(b)

['one1', 'two2', 'three3', 'four4']

In [18]:
# 2)
a = ["one","two","three","four"]
b = []
for i in a:
    b.append(i + str(a.index(i)+1))
print(b)

['one1', 'two2', 'three3', 'four4']

0

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

In [164]:
a = [10,20,30,40]
b = [50,20,10,13]
def mean2(li):
    result1 = 0
    result2 = 0
    for i in li:
        result1 = sum(li)
        result2 = len(a)
        return(result1/result2)
print("a 평균 : " + str(mean2(a)))
print("b 평균 : " + str(mean2(b)))

a 평균 : 25.0
b 평균 : 23.25

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

In [168]:
a = ["Life", "is","too", "short", "you","need","python"]
print(a[4] +" "+ a[2])

you too

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

In [184]:
# a = ["Life", "is","too", "short", "you","need","python"]
# result1 = str("")
# for i in a[0:4]:
#     result1 = result1 + " "+ i
# print(result1)

a = ["Life", "is","too", "short", "you","need","python"]
result = " ".join(a[0:4])
print(result)

 Life is too short
Life is too short

In [21]:
# 참고) join은 전체에 대한 것!
a = ["Life", "is", "too","short","1","2","3","4","5"]
result = " ".join(a)
print(result)

Life is too short 1 2 3 4 5

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [187]:
a = [1,2,3,4,5,6]
len(a)

6

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!(remove사용)

In [193]:
a = [1,2,3,4,5]
a.remove(2) and a.remove(4)
print(a)

[1, 3, 4, 5]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [201]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
def isPositive(no):
    if no > 0 :
        print ("a는 양수다!!")
    elif no == 0 :
        print ("a는 0이다!!!")
    else :
        print ("a는 음수다!!")

isPositive(a)

0,양수,음수 판단할 수를 입력해 주세요!!!!!0
a는 0이다!!!

In [24]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
~~~

0,양수,음수 판단할 수를 입력해 주세요!!!!!-2
a는 음수다!!!!

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

In [2]:
number = int(input("홀짝을 판단하고자 하는 수를 입력하세요!!"))

def isEven(no):
    if (no>=0 and no%2 == 0) :
        print ("입력하신 수는 짝수 입니다!!!!")
    elif (no>=0 and no%2 == 1) :
        print ("입력하신 수는 홀수 입니다!!!!")
    else :
        print ("이상해요!!!!")

isEven(number)

홀짝을 판단하고자 하는 수를 입력하세요!!-5
이상해요!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
이상해요1!!!!

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

In [1]:
def taxi(mon, car):
    if mon >= 4000 or car == True:
        print("갈 수 있다!!!")
    else :
        print("갈 수 없다...")
money = 5000
card = False
taxi(money,card)

갈 수 있다!!!

갈 수 있다!!!!

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

In [2]:
a = 356
if a <= 10 :
    print("한자리")
elif a <= 100 :
    print("두자리")
elif a <= 1000 :
    print("세자리")
elif a <= 10000 :
    print("네자리")
else :
    print("...")

세자리

세자리 修

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

In [10]:
a = 10
b = 20
c = 0
def switch(a, b) :
    print("처음 입력 : " + str(a), 
         "두번째 입력 : " + str(b), sep='\n')
    c = a
    a = b
    b = c
    print("변화된 a값 : " + str(a), "변화된 b값 : " + str(b), sep = '\n')

switch(10, 20)

처음 입력 : 10
두번째 입력 : 20
변화된 a값 : 20
변화된 b값 : 10

처음 입력20
두번째 입력30
변화된 a값: 30
변화된 b값: 20

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

In [21]:
kg = input("입력하세요[kg]!!!")
def kgtog (a) :
    b = float(a) * 1000
    print(b)

kgtog(kg)

입력하세요[kg]!!!1.2
1200.0

입력하세요[kg]!!!1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

In [22]:
g = input("입력하세요[g]!!!")
def gtokg (a) :
    b = float(a) / 1000
    print(b)
    
gtokg(g)

입력하세요[g]!!!1234
1.234

입력하세요[g]!!!1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

In [8]:
a = [10, 20, 17]

def maximum(a):
    maxi = a[0]
    for i in range(1,len(a)) :
        if maxi < a[i] :
            maxi = a[i]
    print(maxi) 

maximum(a)

20

20

* Q) 1부터 100까지 합!!!!

In [15]:
result = 0
for i in range(1,101) :
    result += i
print(result)

5050

5050

* Q) 1부터 100까지 곱!!

In [16]:
result = 1
for i in range(1,101) :
    result *= i
print(result)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

In [17]:
a = [90,80,35,24,65,74,93]
def test(a) :
    for i in range(0,len(a)) :
        if a[i] > 60 :
            print (i+1)

test(a)

1
2
5
6
7

1
2
5
6
7

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [20]:
a = ["A","B","A","O","AB","AB","O","A","B","AB"]
A = []
B = []
O = []
AB = []
for i in range(0,len(a)):
    if a[i] == "A":
       A.append(a[i]) 
    elif a[i] == "B":
        B.append(a[i])
    elif a[i] == "O":
        O.append(a[i])
    else :
        AB.append(a[i])

print("A 형 : " + str(len(A)))
print("B 형 : " + str(len(B)))
print("O 형 : " + str(len(O)))
print("AB 형 : " + str(len(AB)))

A 형 : 3
B 형 : 2
O 형 : 2
AB 형 : 3

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

In [22]:
a = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in range(0,len(a)):
    if a[i] % 2 == 1 :
        print(a[i]*3)

3
9
15
21
27
33

3
9
15
21
27
33

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [27]:
a = range(2,10)
b = range(1,10)
for i in a :
    for j in b :
        print(str(i) + " X " + str(j) + " = " + str(i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171

* Q) 100 까지 소수를 모두 찾아보세요!!!!

In [45]:
primenumber=[]    # 소수들이 들어갈 빈 리스를 하나 만들고, 
for i in range(2, 100):  # 2부터 99까지에서 소수들을 골라낼 거임
    if i==2:  #  만약 2라면 그냥 primenumber에 추가하고
        primenumber.append(i)
    else:
        for j in primenumber:
            if i%j==0:   # primenumber의 요소들로 i 가 나누어 떨어지는지 확인하여
                break   # 나누어 떨어지면 소수가 아니므로 그냥 루프를 빠져 나오고
        if j==primenumber[-1]:   # 끝까지  나누어 떨어지는 놈이 없었는지 확인
            primenumber.append(i)  # 그렇다면 primenumber에 i를 추가한다.
            print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

In [50]:
divisor=[]
def gongyak(a,b):
    kk = []
    gcm = 1
    for k in range(2, min(a,b)+1):
        if (a % k == 0) and (b % k == 0):
            kk.append(k)
            a = a // k
            b = b // k
            gcm = gcm * k
    print ("공약수 : " + str(kk))
    print ("최대 공약수 : " + str(gcm))
    
gongyak(54,24)

공약수 : [2, 3]
최대 공약수 : 6

*Q) @@@@@ 을 출력하세요!!!

In [50]:
print("@"+"@"+"@"+"@"+"@")

@@@@@

In [51]:
print("@"*5)

@@@@@

In [52]:
for i in range(5):
    print("*",end="")

*****

In [53]:
for i in range(5):
    print("@", end="")

@@@@@

In [54]:
num = int(input("반복할 수를 입력하세요!!!!"))

for i in range(num):
    print("@", end="")

반복할 수를 입력하세요!!!!7
@@@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [62]:
a = [5,5,5,5,5]
for i in a:
    print("@"*(i), end="\n")

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

In [64]:
for i in range(5):
    print("@"*(i+1), end="\n")

@
@@
@@@
@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

In [76]:
for i in range(5):
    print(" "*(i) + "@"*(5-i), end="\n")

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [ ]:
1줄 : 5개 찍기
2줄 : 4개 찍기
3줄 : 3개 찍기
4줄 : 2개 찍기
5중 : 1개 찍기

In [ ]:
힌트   

@@@@*
@@@**
@@***
@****
*****

In [69]:
for i in range(5):
    print("@"*(5-i), end="\n")

@@@@@
@@@@
@@@
@@
@

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

In [91]:
for i in range(5) :
    print((" "*(4-i)) + "@"*((2*i)+1), end="\n")

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

In [94]:
for i in range(5) :
    print((" "*(i)) + "@"*(9-(2*i)), end="\n")

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

In [105]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) * Q) 1부터 50까지에서 3의 배수에는 three, 5의 배수에는 five, 3과 5의 공배수에는 three-five를 출력하세요   
1  
2  
three  
4  
five  
...
14  
three-five
16
...

In [108]:
for i in range(1,51) :
    if (i%3 == 0) and (i%5 == 0) :
        print("three-five")
    elif i%3 == 0 :
        print("three")
    elif i%5 == 0 :
        print("five")
    else :
        print(i)

1
2
three
4
five
three
7
8
three
five
11
three
13
14
three-five
16
17
three
19
five
three
22
23
three
five
26
three
28
29
three-five
31
32
three
34
five
three
37
38
three
five
41
three
43
44
three-five
46
47
three
49
five

* Q) 입력 : 월/일 의 2개의 정보를 받아서, 어느 계절인지 나타내어라!!
(예 : 3월 12일 --> 봄, 12월 24일 --> 겨울)
(단, 봄:3~5, 여름:6~8, 가을 9~11, 겨울 12~2)

In [109]:
month = int(input("몇월?"))
day = int(input("몇일?"))
if (month == 3) or (month == 4) or (month == 5) :
    print("봄바람 휘날리면~")
elif (month == 6) or (month == 7) or (month == 8) :
    print("여름")
elif (month == 9) or (month == 10) or (month == 11) :
    print("가을")
else :
    print("겨울")

몇월?1
몇일?22
겨울

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

In [30]:
score = int(input("점수가 어떻게 되시나요?"))
if score < 40 :
    print("F학점. 꼭 다시들으세요")
elif score >= 40 and score < 60 :
    print("D학점. 재수강을 권장합니다")
elif score >= 60 and score < 80 :
    print("C학점. 좀 더 노력하세요")
elif score >= 80 and score < 90 :
    print("B학점. 잘 했습니다!")
elif score >= 90 :
    print("A학점. 참 잘했습니다!!")

점수가 어떻게 되시나요?75
C학점. 좀 더 노력하세요

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

In [112]:
x = int(input("x의 값을 입력하세요"))
y = int(input("y의 값을 입력하세요"))
if (x >= 50) & (x <= 100) & (y >= 40) & (y <= 80) :
    print("안에 있습니다.")
else :
    print("밖에 있습니다.")

x의 값을 입력하세요10
y의 값을 입력하세요12
밖에 있습니다.

x의 값을 입력하세요10
y의 값을 입력하세요22
밖에 있습니다.

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

In [117]:
num = input("입력하세요!!!")
result = 0
for i in range(0,len(num)+1):
    result += i
print(result)

입력하세요!!!12345
15

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

In [1]:
count1 = 0
count2 = 0
count3 = 0
for i in range(1,99) :
    for j in range(1,(100-i)) :
        a = i
        b = j
        c = 100 - (i+j)
        if (a != b) and (a != c) and (b != c) :
            count1 += 1
        elif (a == b) and (a != c) :
            count2 += 1
        elif (a == c) and (a != b) :
            count2 += 1
        elif (b == c) and (b != a) :
            count2 +=1
        else :
            count3 += 1
count = int(count1/6) + int(count2/3) + count3
print(count)

833

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [131]:
a = list(range(1,101))
a = str(a)
zero = 0
one = 0
two = 0
three = 0
four = 0
five = 0
six = 0
seven = 0
eight = 0
nine = 0

for i in range(0,len(a)) :
    if '0' in a[i] :
        zero += 1
    elif '1' in a[i] :
        one += 1
    elif '2' in a[i] :
        two += 1
    elif '3' in a[i] :
        three += 1
    elif '4' in a[i] :
        four += 1
    elif '5' in a[i] :
        five += 1
    elif '6' in a[i] :
        six += 1
    elif '7' in a[i] :
        seven += 1
    elif '8' in a[i] :
        eight += 1
    elif '9' in a[i] :
        nine += 1
    
print("0 : " + str(zero))
print("1 : " + str(one))
print("2 : " + str(two))
print("3 : " + str(three))
print("4 : " + str(four))
print("5 : " + str(five))
print("6 : " + str(six))
print("7 : " + str(seven))
print("8 : " + str(eight))
print("9 : " + str(nine))

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [1]:
a = [20,55,67,82,45,33,90,87,100,25]

In [5]:
# 방법 1 : for/range 사용
sumof1 = 0
for i in range(0,len(a)):
    if a[i] >= 50 :
        sumof1 += a[i]
print(sumof1)

481

In [6]:
# 방법 2 : for/ 직접 값 사용
sumof2 = 0
for i in a :
    if i >= 50 :
        sumof2 += i
print(sumof2)

481

In [9]:
# 방법 3 : while 사용
sumof3 = 0
i = 0
while i < len(a) :
    if a[i] >= 50 :
        sumof3 += a[i]
    i+=1
        
print(sumof3)

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

In [13]:
a = list(range(1,101))
sum3 = 0
for i in a :
    if i % 3 == 0 :
        sum3 += i
print(sum3)

1683

* Q)1부터 100까지 3의 배수들의 합!!!!! while

In [15]:
sum3while = 0
i = 0
while i < len(a) :
    if a[i] % 3 == 0 :
        sum3while += a[i]
    i += 1
print(sum3while)

1683

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!!

## from 패키지 이름 import 세부 패키지

In [2]:
from random import randint
f = randint(1,9)
s = randint(1,9)
t = randint(1,9)

for i in range(0,100) :
    ball = 0
    strike = 0
    print(str(f) + str(s) + str(t))
    f_1 = int(input("첫번째 숫자를 입력하세요"))
    if f_1 == f :
        strike += 1
    elif f_1 == s or f_1 == t :
        ball += 1

    s_1 = int(input("두번째 숫자를 입력하세요"))
    if s_1 == s :
        strike += 1
    elif s_1 == f or s_1 == t :
        ball += 1

    t_1 = int(input("세번째 숫자를 입력하세요"))
    if t_1 == t :
        strike += 1
    elif t_1 == f or t_1 == s :
        ball += 1

    if strike == 3 :
        print ("Game End")
        break
    else :
        print("ball: " + str(ball) + " strike: " + str(strike))

623
첫번째 숫자를 입력하세요6
두번째 숫자를 입력하세요3
세번째 숫자를 입력하세요2
ball: 2 strike: 1
623
첫번째 숫자를 입력하세요6
두번째 숫자를 입력하세요3
세번째 숫자를 입력하세요2
ball: 2 strike: 1
623
첫번째 숫자를 입력하세요6
두번째 숫자를 입력하세요2
세번째 숫자를 입력하세요3
Game End

In [4]:
from random import randint

9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 1
Ball: 0 Strike: 2
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 8
세번째 숫자를 입력하세요: 7
Ball: 2 Strike: 1
9 7 8
첫번째 숫자를 입력하세요: 9
두번째 숫자를 입력하세요: 7
세번째 숫자를 입력하세요: 8
Game End

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [134]:
import random

# 게임을 위한 랜덤 숫자 생성
rn = random.randrange(1, 101, 1)
count = 0
print("1~100 숫자 up & down 게임을 시작합니다 !!!")
print("---------------------------")
for i in range(0,1000) :
    guess = int(input("1 ~ 100 사이의 숫자를 입력하세요 : "))
    if guess > rn :
        print("Down")
        count += 1
    elif guess < rn :
        print("Up")
        count += 1
    else :
        print(str(count) + " 번 만에 정답을 맞추셨습니다.")
        break
print("---------------------------")

1~100 숫자 up & down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 : 67
Down
1 ~ 100 사이의 숫자를 입력하세요 : 54
Down
1 ~ 100 사이의 숫자를 입력하세요 : 27
Up
1 ~ 100 사이의 숫자를 입력하세요 : 40
Up
1 ~ 100 사이의 숫자를 입력하세요 : 47
Up
1 ~ 100 사이의 숫자를 입력하세요 : 52
Down
1 ~ 100 사이의 숫자를 입력하세요 : 51
Down
1 ~ 100 사이의 숫자를 입력하세요 : 50
Down
1 ~ 100 사이의 숫자를 입력하세요 : 48
Up
1 ~ 100 사이의 숫자를 입력하세요 : 49
9 번 만에 정답을 맞추셨습니다.
---------------------------

In [4]:
import random

# 게임을 위한 랜덤 숫자 생성
rn = random.randrange(1, 101, 1)

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 : 30
Down
1 ~ 100 사이의 숫자를 입력하세요 : 155
Down
1 ~ 100 사이의 숫자를 입력하세요 : 15
Down
1 ~ 100 사이의 숫자를 입력하세요 : 8
Down
1 ~ 100 사이의 숫자를 입력하세요 : 4
Down
1 ~ 100 사이의 숫자를 입력하세요 : 2
---------------------------
6 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
제곱의 합 : 1^2 + 2^2 + ... + 10^2 = 385   
합의 제곱 : (1+2+3..+10)^2 = 3025

In [122]:
num = int(input("입력하세요!!!"))
sqofsum = 0
sumofsq = 0
for i in range(1,num+1) :
    sqofsum += i
    sumofsq += i**2
print(sqofsum**2 - sumofsq)

입력하세요!!!10
2640

입력하세요!!!10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [25]:
def encryfunc(num) :
    num = num.replace(num[:-4:1], "*"*(len(num)-4))
    return num

# list(range(-4,1))
# a = "010-1234-5678"
# a = a.replace(a[:-4:1], "*******")
# print(a)

In [26]:
encryfunc("010-1234-5678")

'*********5678'

In [27]:
encryfunc("01034565678")

'*******5678'

* Q) 연습문제 : computepay라는 함수를 만들어서, 근무 시간과 초과근무 시 비율을 입력하고, 월급을 계산하는 함수를 만드세요!!(월 기준으로 8시간 * 5일 * 4주 =160시간이 기준, 160시간까지는 1시간당 월급이 1만원, 초과 근무 시 비율이 만약에 50%라면 1.5만원, 초과 근무 시 비율이 30%라면 1.3만원)     
예 : computpay(170, 50) --> 160 X 1 + 10 X 1 X 1.5 (원)

In [127]:
def computepay(a,b):
        sumsal = (a - 160)*(10000*(1+(b/100))) + 1600000
        return sumsal

In [128]:
tom = computepay(200, 60)
print(tom)

2240000.0